<form action="<%= user_path @user.id %>" method="post">
    
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="authenticity_token" value ="<%= form_authenticity_token %>">
    
        <h5><label for="name">First name:</label>
        <input type="text" name="user[first_name]" value="<%= @user.first_name %>" id="first_name"></h5>

        <h5><label for="name">Last name:</label>
        <input type="text" name="user[last_name]" value="<%= @user.last_name %>" id="last_name"></h5>
    
        <h5><label for="email">Email:</label>
        <input type="text" name="user[email]" value="<%= @user.email %>"  id="email"></h5>
    
        <button type="submit" id="edit_user">Edit User</button>
    </form> 